body {
    background-image: url('../images/universe-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    color: #6DDDB8;
}


button {
    width: 250px;
    height: 50px;
    background-color: #975467;
    color: white;
    font-size: 1.1em;
    border: 2px solid #AA607D; 
    border-radius: 5%;
    margin: 50px 0;
}

button:hover {
    background-color: #814657;
    color: #F0B4D9;
    border: 2px solid #AA607D;
}

.lighterText {
    color: #A5FCEB;
}
.lightText {
    color: white;
}

.biggerText {
    font-size: 1.15em;
}