body {
    background-image: url('../images/universe-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    color: #6DDDB8;
    padding: 0;
    margin: 0;
}

/* Top of Page */
header {
    width: 100%;
    height: 100px;
    background-color: rgba(116, 38, 55, 0.452);
    text-align: center;
    border-bottom: 2px solid white; 
    /* #99515D */
    padding: 10px;
}
header h1{
    color: #A5FCEB;
    font-size: 3em;
    font-family: 'Orbitron', sans-serif;
}

h1 {
    
    color: #6DDDB8;
}

button {
    width: 250px;
    height: 50px;
    background-color: #975467;
    color: white;
    font-size: 1.1em;
    border: 2px solid #AA607D; 
    border-radius: 5%;
    margin: 50px 0;
}

button:hover {
    background-color: #814657;
    color: #F0B4D9;
    border: 2px solid #AA607D;
}


/* Bottom */
#extra-space {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: #975467;
    border-top: 2px solid white;
}
/* Classes */
.lighterText {
    color: #A5FCEB;
}
.lightText {
    color: rgb(238, 227, 227);
}

.biggerText {
    font-size: 1.15em;
}